h1 {
    border-bottom: 1px solid #000;
}

div {
    padding: 20px;
    margin-bottom: 30px;
  }
  


div img {
    border-bottom: 1px solid #000;
}
 
a {
    text-decoration: none;
    color: #000;
}
 
a :hover{
    text-decoration: underline;
}